body{
    margin: 0;
    font-family: sans-serif;
}
header{
    height: 10vh;
    background-color: white;
    padding: 0 1.5vw 0 ;
}
.header-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav{
    width: 25%;
  }
  .Ijse-logo{
    width: 15%;
    height: 8vh;
  }
.nav-list{
    
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 550;
   
}
.nav-list li{
    list-style: none;
    display: inline;
    
}
.content-container{
    width: 100vw;
    
    height: fit-content;
    background-color: rgb(66, 6, 122);
    display: flex;
    justify-content: right;
    
    box-sizing: border-box;
}
.side-nav{
    padding-left: 3vw;
    width: 15vw;
    height: 20vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 550;
    
}
.media-container{
    width: 95%;
    height: fit-content;
    background-color: white;
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    border-top: 2px solid black;
    
    
}
.multimedia{
    width: 99%;
    display: flex;
    column-gap: 0;
}
.multimedia video{
    width: 33.33%;
    height: 25vh;
    border: 1px solid black;
}
footer{
    height: 5vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
p{
    margin-right: 1vw;
}